<div class="search-container">
    <h1>Search Spotify Playlists</h1>
    <!--TODO: bind input's model to searchString-->
    <input id="search-input" [(ngModel)]="searchString">
    <!--TODO: Call search function when the button is clicked-->
    <label for="search-input">
        <button class="btn" style="background-color: #1db954;" (click)="search()">Search</button>
    </label>
</div>

<!--TODO: Display results. One option: use a carousel component. Bind carousel's resources and give it a static carouselId.-->
<!-- <app-carousel *ngIf="display" [resources] = "resources" [carouselId] = "resources[0].id"></app-carousel> -->
<div *ngIf="!resources && searching" style="color: white; text-align: center;">Loading...</div>
<div class="cards-container" *ngIf="resources">
    <div class="card-container" *ngFor="let resource of resources">
        <a routerLink="/playlist/{{resource.id}}" class="layout">
            <img *ngIf="resource.imageURL != undefined" src={{resource.imageURL}} alt=""/>
            <div class="info-container">
                <h2>{{resource.name}}</h2>
                <p>Created by: {{resource.owner}}</p>
                <p>Length: {{resource.length}} tracks</p>
                <p *ngIf="resource.description != ''">Description: {{resource.description}}</p>
            </div>
        </a>
    </div>
</div>