input {
	margin: 10px;
}

select {
	margin: 10px;
}

.search-container {
	margin: auto;
	text-align: center;
	color: white;
}

.cards-container {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
	margin: auto;
}

.card-container {
	display: flex;
	flex-direction: row;
	background-color: #212121;
	padding: 25px;
	border-radius: 10px;
	cursor: pointer;
  }

.layout {
	display: flex;
	flex-direction: row;
}

img {
	width: 180px;
    height: 180px;
	border-radius: 5px;
	flex: 1;
}

.info-container {
	flex: 3;
	margin-left: 10px;
	color: white;
}

p {
	margin-bottom: 0.5rem;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 1.6rem;
}