<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #535353;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-brand">
        <a class="navbar-brand" style="color: white;" href="/">
          Playlist Visualization
        </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right mr-1">
      <li class="nav-item">
        <a class="btn btn-light" role="button" href="http://localhost:8888/login">Log in</a>
      </li>
    </ul>
  </nav>
<main class="container-fluid">
	<router-outlet></router-outlet>
</main>
